<h2>Tremor Graph</h2>
<div *ngIf="graphChoice=='Line'" style="display: block;">
    <canvas baseChart width="300" height="200"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div>

  <div *ngIf="graphChoice=='Bar'" style="display: block;">
    <canvas baseChart width="300" height="200"
      [type]="'bar'"
      [data]="barChartData"
      [options]="barChartOptions"
    >
    </canvas>
  </div>

  <div style="margin: 5%;">
    <mat-form-field appearance="fill">
      <mat-label>Graph Type</mat-label>
      <mat-select (selectionChange)="onChange($event)" >
        <mat-option *ngFor="let graph of graphOptions" [value]="graph">{{graph}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
