h1 {
    text-align: center;
}

div.container {
    position: relative;
    outline: auto;
    outline-style:none;
    font-size: larger;
    padding-bottom: 3%;
}

.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.graph2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.profile{
    float: left;
    position:absolute;
    z-index: 300;
    right:0;
    top:0;
}

.menu{
    float: right;
    position:absolute;
    z-index: 300;
    left:0;
    top:0;
}

.legendBox{
    position: absolute;
    top: 5%;
    right: 10%
}

button{
    padding: 20px;
    display: block;
    width: 25%;
}

.modButton{
    background-color: rgba(54, 162, 235, 0.3);
}

.mildButton{
    background-color: rgba(255, 206, 86, 0.3);
}

.sevButton{
    background-color: rgba(255, 26, 104, 0.3);
}